{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row" align="center">
        <div class="myCard">
            <div class="myCard col-lg-3 col-md-3 my-4 mx-auto d-none d-md-block" style="float: left;">
                <img class="d-flex align-self-center logo" src="../static/images/dsce-logo.jpeg" alt="DSCE LOGO">
            </div>
            <div class="col-lg-12 col-md-7 headerText  mt-4">
                <h1 class="text-center"> DAYANANDA SAGAR COLLEGE OF ENGINEERING </h1>
                <h6 class="tect-center"> Shavige Malleswara Hills, Kumaraswamy Layout, Bengaluru-560078</h6>
                <h6 class="text-uppercase text-center">department of Electrical & Electronics Engineering</h6>
        </div>
    </div>
</div>
<div class="row my-4">
        <h3 class="myCard text-uppercase text-center my-4"> Project On : Renewable Energy integrated EV Charger with V2H technology</h3>
            <br>
        <div class="col-lg-4 col-md-4 col-sm-12 mx-2  mx-auto">
            <div class="card">
                <h4 class="card-header">Under the Guidance of: </h4>
                <img class="card-img-top img-fluid text-center image" src="../static/images/pbsavitha.jpg" alt="Guide Photo">
                <div class="card-footer text-end">
                    <h5>Dr Savitha PB</h5>
                    <p>Prof, department of EEE</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <h4 class="card-header myCard">Submitted By: </h4>
        <div class="col-lg-3 col-md-3 col-sm-8 ">
            <div class="card">
                <img class="card-img-top img-fluid text-center image" src="../static/images/Arjun.jpg" alt="Guide Photo">
                <div class="card-footer text-start">
                    <h5>Mallikarjunaiah.K</h5>
                    <p>USN : 1DS19EE406 </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8">
            <div class="card">
                <img class="card-img-top img-fluid text-center image" src="../static/images/logo.svg" alt="Guide Photo">
                <div class="card-footer text-start">
                    <h5>Pavan.B,K</h5>
                    <p>USN : 1DS19EE407</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 ">
            <div class="card">
                <img class="card-img-top img-fluid text-center image" src="../static/images/Rajesh,N.jpeg" alt="Guide Photo">
                <div class="card-footer text-start">
                    <h5>Rajesh.N</h5>
                    <p>USN : 1DS19EE410</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 ">
            <div class="card">
                <img class="card-img-top img-fluid text-center image" src="../static/images/logo.svg" alt="Guide Photo">
                <div class="card-footer text-start">
                    <h5>Rohith.H,B</h5>
                    <p>USN : 1DS19EE411</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <br>

    </div>


</div>

{% endblock %}