{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="pt-3 text-color text-center" ;>
        <h1 class=" theam-color " style="align-items:center;"><b>SMART EV
                CHARGER </b></h1>
    </div>

    <div class="row align-items-center justify-content-center">
        <div class="col-sm-8 col-md-4 col-lg-2">

            <figure>
                <img src="static/images/smart_Charger.svg" data-src="holder.js/100px480?theme=social&outline=yes"
                    class="mx-3 img-fluid charger-image" alt="Responsive Featured Image">
            </figure>
        </div>
        <div class="col-sm-8 col-md-8 col-lag-10">
            <h2 class="theam-color card-body">NEXT GNERATION SMART ELECTRICAL VEHICAL CHARGER BUILT WITH
                V2H, G2V & RE2V
                TECHNOLOGY.</h2>
        </div>
    </div>
    <!-- Card format -->
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-6 ">
            <div class="card my-4 mx-4">
                <img src="static/images/v2h.svg" data-src="holder.js/100px150?theme=social&outline=yes"
                    class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">V2H Mode</h5>
                    <h6>Vehicle to Home Mode</h6>
                    <p class="card-text pfont">
                        Vehicle acts as a back-up power supply for the home. <br>
                        This charger is built with technology to meet V2H requirements.
                    </p>
                    <a href="http://www.eaa-phev.org/wiki/Vehicle-to-home" target="_blank" class="btn btn-primary">View more <span class="visually-hidden">about
                        </span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-6 ">
            <div class="card my-4 mx-4">
                <img src="static/images/g2v.svg" data-src="holder.js/100px150?theme=social&outline=yes"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">G2V Mode</h5>
                    <h6 class="card-text"> Utility Grid to Vehicle Mode</h6>
                    <p class="card-text pfont">
                        Vehicle battery will be charged by using utility supply. <br>
                        This mode is simalar to normal (dumb) charger opertation. 
                    </p>
                    <a href="https://en.wikipedia.org/wiki/Vehicle-to-grid#:~:text=Vehicle%2Dto%2Dgrid%20(V2G,the%20grid%20or%20by%20throttling" target="_blank" class="btn btn-primary">View more <span class="visually-hidden">about
                        </span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-6 ">
            <div class="card my-4 mx-4">
                <img src="static/images/re2v.svg" data-src="holder.js/100px150?theme=social&outline=yes"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">RE2V Mode</h5>
                    <h6 class="card-text"> Renewable Energy to Vehicle Mode</h6>
                    <p class="card-text">
                        Energy generated by solar PV modules will be used to charge vehicle battery.<br>
                        This charger has option to connect PV modules to it directly.
                    </p>
                    <a href="https://www.saurenergy.com/ev-storage/solar-energy-and-ev-charging-infrastructure" target="_blank" class="btn btn-primary">View more <span class="visually-hidden">about
                        </span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-6 ">
            <div class="card my-4 mx-4">
                <img src="static/images/remote_control.svg" data-src="holder.js/100px150?theme=social&outline=yes"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Remote Monitor & Control</h5>
                    <p class="card-text">
                        Moitor power consumption and the ev-battery charge state. <br>
                        Control charging mode and ON/OFF remotely with one click.   <br>
                        Inteligent edge computing technology takes action based on many factors to minimize utility bills.
                    </p>
                    <a href="" class="btn btn-primary disabled">View more <span class="visually-hidden">about 
                        </span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 pb-4 mx-4 theam-color">
        <div class="px-4">

            <h2>Smart charger with edge inteligence, to promote green energy! </h2>
            <p class="ptext"> Adoption of electric vehicles requires smart charging 
                infrastructure which can take decision concerning to the load on the grid,
                 to shave off the peak load curves on the grids, by adapting the charging 
                 patterns. Smart charging allows a certain level of control over the charging 
                 process. It includes different pricing and technical charging options. 
                 The simplest form of incentive – time-of-use pricing encourages consumers 
                 to move their charging from peak to off-peak, smart charging enables EVs 
                 to provide flexibility to grid </p>
            <p> Smart charger proposed in this project is with advanced control mechanisms
                 built with IoT integration ,can perform following actions </p>

        <ul>
            <li>Remote switching ON and OFF of the charging </li>
            <li>Unidirectional Control</li>
            <li>Scheduled charging.</li>
            <li>Energy Consumption Data logging.</li>
            <li>Charging with solar power</li>
            <li>Sophisticated bidirectional vehicle-to-home (V2H) mode.</li>
        </ul>

        <p>In (V2H) mode EVs (Two Wheelers) are used as a residential back-up power supply during periods of 
            power outage or to increase the self-consumption of energy produced on-site with the help of solar 
            PV arrays. This significantly reduces the load on the grid as well as the vehicle owners get benefits 
            from due to behind-the-meter optimisation and back-up power, this includes increasing self-consumption 
            of locally produced renewable (solar) electricity as well as lowering dependence on the electricity 
            grid and reducing the energy bill by buying low-cost electricity from the grid at off-peak hours and 
            using it to supply homes using EVs to supply homes when the electricity tariff is higher.
        </p>
        </div>
    </div>
</div>
</div>

{% endblock %} 