{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="pt-3 text-color text-center" ;>
        <h1 class=" theam-color " style="align-items:center;"><b>SMART EV
                CHARGER </b></h1>
    </div>

    <div class="row align-items-center justify-content-center">
        <div class="col-sm-8 col-md-4 col-lg-2">

            <figure>
                <img src="static/images/smart_Charger.svg" data-src="holder.js/100px480?theme=social&outline=yes"
                    class="mx-3 img-fluid charger-image" alt="Responsive Featured Image">
            </figure>
        </div>
        <div class="col-sm-8 col-md-8 col-lag-10">
            <h2 class="theam-color card-body">NEXT GNERATION SMART ELECTRICAL VEHICAL CHARGER BUILT WITH
                V2H, G2V & RE2V
                TECHNOLOGY.</h2>
        </div>
    </div>
    <!-- Card format -->
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-6 ">
            <div class="card my-4 mx-4">
                <img src="static/images/v2h.svg" data-src="holder.js/100px150?theme=social&outline=yes"
                    class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">V2H Mode</h5>
                    <h6>Vehicle to Home Mode</h6>
                    <p class="card-text pfont">
                        Vehicle acts as a back-up power supply for the home. <br>
                        This charger is built with technology to meet V2H requirements.
                    </p>
                    <a href="http://www.eaa-phev.org/wiki/Vehicle-to-home" target="_blank" class="btn btn-primary">View more <span class="visually-hidden">about
                        </span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-6 ">
            <div class="card my-4 mx-4">
                <img src="static/images/g2v.svg" data-src="holder.js/100px150?theme=social&outline=yes"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">G2V Mode</h5>
                    <h6 class="card-text"> Utility Grid to Vehicle Mode</h6>
                    <p class="card-text pfont">
                        Vehicle battery will be charged by using utility supply. <br>
                        This mode is simalar to normal (dumb) charger opertation. 
                    </p>
                    <a href="https://en.wikipedia.org/wiki/Vehicle-to-grid#:~:text=Vehicle%2Dto%2Dgrid%20(V2G,the%20grid%20or%20by%20throttling" target="_blank" class="btn btn-primary">View more <span class="visually-hidden">about
                        </span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-6 ">
            <div class="card my-4 mx-4">
                <img src="static/images/re2v.svg" data-src="holder.js/100px150?theme=social&outline=yes"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">RE2V Mode</h5>
                    <h6 class="card-text"> Renewable Energy to Vehicle Mode</h6>
                    <p class="card-text">
                        Energy generated by solar PV modules will be used to charge vehicle battery.<br>
                        This charger has option to connect PV modules to it directly.
                    </p>
                    <a href="https://www.saurenergy.com/ev-storage/solar-energy-and-ev-charging-infrastructure" target="_blank" class="btn btn-primary">View more <span class="visually-hidden">about
                        </span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-6 ">
            <div class="card my-4 mx-4">
                <img src="static/images/remote_control.svg" data-src="holder.js/100px150?theme=social&outline=yes"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Remote Monitor & Control</h5>
                    <p class="card-text">
                        Moitor power consumption and the ev-battery charge state. <br>
                        Control charging mode and ON/OFF remotely with one click.   <br>
                        Inteligent edge computing technology takes action based on many factors to minimize utility bills.
                    </p>
                    <a href="" class="btn btn-primary disabled">View more <span class="visually-hidden">about 
                        </span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 pb-4 mx-4 theam-color">
        <div class="px-4">

            <h2>Smart charger with edge inteligence, to promote green energy! </h2>
            <p class="ptext">Sed vestibulum ornare leo vel tincidunt. Donec viverra risus et nisi sollicitudin, non
                sollicitudin mauris gravida. Phasellus lacinia fringilla dignissim. Donec mollis nec dolor in
            tristique. Morbi condimentum nisl nibh, vehicula vestibulum leo pharetra a. Curabitur non
            rhoncus libero, eu iaculis nisi. Quisque et aliquet augue, nec placerat arcu. Duis ornare,
            turpis sed venenatis congue, nisi leo cursus risus, eu sodales nunc lorem ac massa. Sed
            elementum nibh erat, in eleifend tortor venenatis sit amet. Aenean id sem ac erat pulvinar
            porta. Vivamus sit amet purus id massa cursus rutrum. Vivamus fermentum nunc in lectus
            vestibulum feugiat. Proin at hendrerit leo.</p>

        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Nunc ac purus fringilla, aliquet mi eu, tincidunt purus.</li>
            <li>Aenean et urna et tellus tempus tincidunt quis eget ex.</li>
            <li>Vivamus consectetur ipsum et suscipit condimentum.</li>
            <li>Cras non nisi dignissim tortor commodo tristique.</li>
        </ul>

        <p>Sed in mattis ante. Fusce consequat pharetra lorem porta fermentum. Proin porttitor at tellus sit
            amet hendrerit. Aenean posuere mauris blandit rutrum rhoncus. In dapibus posuere odio et
            pharetra. Vestibulum vel ex vitae risus varius mattis. Duis ullamcorper in sem vitae ultricies.
            Aliquam mattis id purus et pulvinar. Aenean eu turpis accumsan, gravida felis in, aliquam diam.
            Aliquam tincidunt lorem ac felis porttitor, vitae tristique augue finibus. Phasellus dolor
            nulla, tempor ut rhoncus sit amet, hendrerit non sapien. Nullam quis convallis nisi, a elementum
            risus.</p>

        <ul>
            <li>Vestibulum in elit ut lorem iaculis bibendum.</li>
            <li>Phasellus feugiat diam eu neque consectetur pretium.</li>
            <li>Nunc ac dui id nunc pretium rutrum ac et odio.</li>
            <li>Duis varius nulla pulvinar diam semper lacinia.</li>
            <li>Vestibulum a ipsum ut ante elementum ullamcorper a ac velit.</li>
        </ul>
        
        <p>Etiam porttitor dapibus auctor. Fusce et nulla ut augue sodales sollicitudin eu nec nisi. Etiam
            imperdiet leo quis massa imperdiet, ut sodales magna posuere. Etiam eget arcu ante. Fusce ut
            dictum magna. Etiam tincidunt pretium fermentum. In faucibus sollicitudin ullamcorper. Fusce
            bibendum sagittis metus, nec tincidunt justo. Nunc cursus hendrerit purus sed convallis. Nulla
            id est turpis. Morbi et erat vitae odio commodo ultrices. Sed ornare tempus nibh.</p>
        </div>
    </div>
</div>
</div>

{% endblock %} 